
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeShare</title>
    <link href="C:\Users\deepi\Work\WebdUpTask\public\css\style.css" type="text/css"  rel="stylesheet">
</head>
<body>
  <h1 id = "name" style=" text-align:center;
    font-size:60px;
    margin-bottom:0px;
    color:#4267B2;">CodeShare</h1>
<p id = "tagline" style=" text-align:center;
    font-size:20px;
    margin-bottom:40px;
    color:#898F9C;">A platform to share your codes</p>
 <div style = "background-color:#d9e5ff;
    align-self:center;
    margin-bottom:50px;">
        <h2 style="text-align:center;
    font-size:35px;
    color:#4267B2;
    padding-top:20px;
   ">Sign Up</h2>
        <form style=" display:flex;
    flex-direction:column;
    margin:50px;">
            <input type="email" placeholder="Enter your email address" style="  margin-top:20px;
    margin-bottom:20px;
    height:30px;">
            <input type="password" placeholder="password" style="  margin-top:20px;
    margin-bottom:20px;
    height:30px;">
            <button style=" background-color:#4267B2;
    color:#fff;
    font-weight:bold;
    border:none;
    height:30px;
    width:max-contt;"><a href="/welcome" style="text-decoration: none; color:#fff">Sign In</a></button>
        </form>
        <h5 style=" text-align:center; padding-bottom:30px; font-size:20px;">Already have an account? <a href="/login" style="text-decoration: none; color:#4267B2">Login</a></h5>
    </div>
</body>
</html>