<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link href="C:\Users\deepi\Work\WebdUpTask\public\css\style.css"type="text/css"  rel="stylesheet">
</head>
<body id = "body" style="background-color:white; font-family:monospace; text-align:center;">
    <h1 id = "wel" style ="margin-top:45vh;
  text-align:center;
  font-size:60px;
  margin-bottom:0px;
  color:#4267B2;">Welcome to CodeShare</h1>
<p id = "descp" style="text-align:center;
  font-size:20px;
  margin-bottom:40px;
  color:#898F9C;">A platform to share your codes</p>
</body>
</html>